.log-list {
  display: grid;
  grid-template-rows: repeat(auto-fill, 120px);
  overflow-x: hidden;
  overflow-y: scroll;
}

@media (min-width: 500px) {
  .logs-view {
    display: grid;
    grid-template-columns: 400px 1fr;
    height: 100%;
    overflow: hidden;
  }
}
