/* Add some padding inside the card container */
.container {
  display: grid;
  grid-template-areas:
    "time title title title title title"
    "type-icon d1 d2 d3 d4 d5";
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 5px;
}

.title {
  grid-area: title;
}

.time {
  grid-area: time;
}

.log-type {
  grid-area: title;
}

.type-icon {
  grid-area: type-icon
}

.d1 {
  grid-area: d1;
}

.icon-size {
  width: 63px;
  height: 63px;
}
