.App {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header"
    "content"
    "navbar";
  grid-template-rows: 80px 1fr 80px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  grid-area: header;
  background-color: #63c8ff;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-content {
  grid-area: content;
}

/* Place the navbar at the bottom of the page, and make it stick */
.Nav-Panel {
  grid-area: navbar;
  background-color: #a8a8a8;
  height: 100%;
}
