.App {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header"
    "content"
    "navbar";
  grid-template-rows: 80px 1fr 80px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  z-index: 1;
  grid-area: header;
  background-color: #63c8ff;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-content {
  grid-area: content;
}

/* Place the navbar at the bottom of the page, and make it stick */
.nav-bar {
  z-index: 1;
  grid-area: navbar;
  background-color: #a8a8a8;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 60px);
  justify-items: center;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
}

/* Change the color of links on hover */
.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.nav-bar a.active {
  background-color: #4CAF50;
  color: white;
}

.icon {
  width: 50px;
  height: 50px;
}

@media (min-width: 1025px) {
  .App {
    grid-template-areas:
      "header header"
      "navbar content";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 80px 1fr;
  }
  .nav-bar {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 80px);
    grid-row-gap: 10px;
    align-content: baseline;
  }
}
